<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="TestNG.TestNgClass3"/>
      <class name="TestNG.TestNGClass2"/>
      <methods>
      <exclude name="homeLone"/>
      </methods>
      <class name="TestNG.TestNGClass1"/>
    </classes>
    <test name="Test1">
    <classes>
   		 <class name="TestNG.TestNGClass4"/>
    		<methods>
  			  <exclude name="testc.*"/>
    		</methods>
   		 </classes>
    
    </test>
  </test> <!-- Test -->
</suite> <!-- Suite -->
